<section class="hero">
    <div class="hero-content">
        <h1 class="hextech-title">Conoce todo sobre tus campeones favoritos</h1>
        <p class="hero-subtitle">
            Explora la base de datos completa de Runaterra. Descubre las habilidades, roles y características detalladas de cada campeón de la Grieta del Invocador.
        </p>

        <div class="hero-buttons">
            <button class="hextech-btn primary-btn">Explorar Galería</button>
        </div>
    </div>

    <div class="hero-image-container">
        <img src="https://cdn1.epicgames.com/offer/24b9b5e323bc40eea252a10cdd3b2f10/EGS_LeagueofLegends_RiotGames_S1_2560x1440-47eb328eac5ddd63ebd096ded7d0d5ab" alt="League of Legends Champion" class="hero-image" />
        <div class="glow-effect"></div>
    </div>
</section>

<section class="features">
    <div class="section-title">
        <h2 class="hextech-title">Listado de Campeones</h2>
        <div class="title-separator"></div>
        <p>Selecciona un campeón para conocer a fondo sus estadísticas e historia.</p>
    </div>

    <div class="features-grid">
        @for(character of characters; track character.id) {
        <div class="champion-card">
            <div class="champion-portrait">
                <img alt="{{character.name}}" src="{{character.thumbnailUrl}}">
                <div class="portrait-border"></div>
            </div>
            <div class="champion-info">
                <h3><a href="character/{{character.id}}">{{character.name}}</a></h3>
                <p class="champion-title">{{character.title}}</p>
            </div>
        </div>
        }
    </div>
</section>

<section class="cta">
    <div class="cta-inner">
        <h2 class="hextech-title">Domina el meta</h2>
        <p>
            Mantente al día con la información más precisa sobre los personajes y mejora tu conocimiento del juego.
        </p>
        <button class="hextech-btn primary-btn">Ver Todos los Personajes</button>
    </div>
</section>